*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 1.4rem;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;

	&__block {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 15px;
	}

	&__title {
    padding: 10px;
    margin: 4px;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    line-height: 0.9;

    @media(max-width: 790px) {
      font-size: 0.6rem;
    }
	}

	&__score {
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    border: 4px solid white;
    border-radius: 15px;
    background-color: white;
    font-weight: 700;

    @media(max-width: 790px) {
      width: 70px;
      height: 60px;
      border-radius: 5px;
    }
	}

	&__score-title {
    text-align: center;
    background-color: inherit;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: hsl(229, 64%, 46%);

    @media(max-width: 790px) {
      font-size: 0.5rem;
    }
	}

	&__score-count {
    background-color: inherit;
    color: hsl(229, 25%, 31%);
    font-size: 2.4rem;

    @media(max-width: 790px) {
      font-size: 1.5rem;
    }
	}
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.pick {
  width: 600px;
  display: grid;
  grid-template-rows: rpeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  position: relative;

    .scissors, .spock, .paper,  .lizard, .rock {
      width: 100%;
      height: 150px;

      @media(max-width: 790px) {
        height: 100px;
      }
    }

    .scissors__wrapper, .spock__wrapper, .paper__wrapper, .lizard__wrapper, .rock__wrapper {
      position: relative;
      width: 150px;
      height: 150px;

      @media(max-width: 790px) {
        width: 80px;
        height: 80px;
      }
    }

    .scissors__img, .spock__img, .paper__img, .lizard__img, .rock__img {
      width: 110px;
      height: 110px;
      background-size: 50px;

      @media(max-width: 790px) {
        width: 60px;
        height: 60px;
        background-size: 40px;
      }
    }

    .scissors {
      grid-column: 2/4;

      &__wrapper {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .spock {
      grid-row: 2/3;

      &__wrapper {
        left: 0;
        top: 0;
        transform: translate(40px, -45px);

        @media(max-width: 790px) {
          transform: translate(30px, -30px);
        }
      }
    }

    .paper {
      grid-row: 2/3;
      grid-column: 4/5;

      &__wrapper {
        left: 0;
        top: 0;
        transform: translate(-40px, -45px);

        @media(max-width: 790px) {
          transform: translate(-30px, -30px);
        }
      }

    }

    .lizard {
      grid-row: 3/4;
      grid-column: 2/3;

      &__wrapper {
        left: 0;
        transform: translate(-20px, -50%);
      }
    }

    .rock {
      grid-row: 3/4;
      grid-column: 3/4;

      &__wrapper {
        left: 0;
        transform: translate(20px, -50%);
      }
    }

  &::after {
    content: '';
    width: 340px;
    height: 340px;
    position: absolute;
    top: 60px;
    left: 130px;
    background-image: url('../images/bg-pentagon.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @media(max-width: 790px) {
      width: 200px;
      height: 200px;
      top: 50px;
      left: 60px;
    }
  }

  @media(max-width: 790px) {
    width: 300px;
  }
}

.scissors__wrapper, .spock__wrapper, .paper__wrapper, .lizard__wrapper, .rock__wrapper {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  z-index: 1;
  box-shadow: inset 0 -6px 0 rgba(0,0,0,0.2);
}

.scissors__img, .spock__img, .paper__img, .lizard__img, .rock__img {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: lightgray;
  border-radius: 50%;
  z-index: 2;
  box-shadow: inset 0 6px 0 rgba(0,0,0,0.1);

  &:hover {
    cursor: pointer;
  }
}

.scissors {
  &__wrapper {
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  }

  &__img {
      background-image: url('../images/icon-scissors.svg');
  }
}

.spock {
  &__wrapper {
    background: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  }

  &__img {
    background-image: url('../images/icon-spock.svg');
  }
}

.paper {
  &__wrapper {
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  }

  &__img {
    background-image: url('../images/icon-paper.svg');
  }
}

.lizard {
  &__wrapper {
    background: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  }

  &__img {
    background-image: url('../images/icon-lizard.svg');
  }
}

.rock {
  &__wrapper {
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  }

  &__img {
    background-image: url('../images/icon-rock.svg');
  }
}

.game {
  position: relative;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  display: none;
  margin-top: 40px;
  transition: all 0.3s ease;

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 40px;

    @media(max-width: 790px) {
      font-size: 0.5rem;
    }
  }

  .scissors__wrapper, .spock__wrapper, .paper__wrapper, .lizard__wrapper, .rock__wrapper {
    position: static;
    width: 200px;
    height: 200px;

    @media(max-width: 790px) {
      width: 100px;
      height: 100px;
    }
  }

  .scissors__img, .spock__img, .paper__img, .lizard__img, .rock__img {
    width: 160px;
    height: 160px;
    background-size: 100px;

    &:hover {
      cursor: auto;
    }

    @media(max-width: 790px) {
      width: 70px;
      height: 70px;
      background-size: 40px;
    }
  }

	&__your-pick, &__house-pick {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
	}

  .loading-block {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    border-radius: 50%;
    animation-name: LoadingAnimation;
    animation-duration: 1.5s;
    box-shadow: 0 0 20px 10px rgba(255,255,255,0.15);

    @media(max-width: 790px) {
      width: 70px;
      height: 70px;
    }
  }

  @keyframes LoadingAnimation {
    0%{
      background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    }
    100% {
      background: linear-gradient(hsl(237, 49%, 15%), hsl(214, 47%, 23%));
      transform: rotate(360deg);
    }
  }

  &__result {
    display: none;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @media(max-width: 790px) {
      top: 60%;
      transform: translateX(-50%);
    }
  }

  &__result-title, &__btn {
    text-transform: uppercase;
  }

  &__result-title {
    font-weight: 700;
    color: white;
  }

  &__btn {
    padding: 8px 35px;
    border-radius: 5px;
    background-color: white;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 0.6rem;
    color: hsl(229, 25%, 31%);

    &:hover {
      cursor: pointer;
    }
  }

  .win {
    animation-name: BoxShadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @media(max-width: 790px) {
    width: 100% !important;
  }
}

@keyframes BoxShadow {
  0% {
    box-shadow: none;
  }
  33% {
    box-shadow: 0 0 0 40px rgba(255,255,255,0.15),
                0 0 0 40px rgba(255,255,255,0.1),
                0 0 0 40px rgba(255,255,255,0.05);
  }
  66% {
    box-shadow: 0 0 0 40px rgba(255,255,255,0.15),
                0 0 0 80px rgba(255,255,255,0.1),
                0 0 0 80px rgba(255,255,255,0.05);
  }
  100%{
    box-shadow: 0 0 0 40px rgba(255,255,255,0.15),
                0 0 0 80px rgba(255,255,255,0.1),
                0 0 0 120px rgba(255,255,255,0.05);
  }
}

.rules {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;

  &__bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    z-index: 9;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__close-btn {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/icon-close.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
      cursor: pointer;
    }
  }

  &__img-block {
    display: none;
    width: 350px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    z-index: 10;

    @media(max-width: 790px) {
      width: 100%;
      height: 100%;
      display: none;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../images/image-rules-bonus.svg');
    background-position: center top;
    background-size: 300px;
    background-repeat: no-repeat;

    @media(max-width: 790px) {
      height: 80%;
      background-position: center center;
    }
  }

	&__btn {
    margin: 0 20px;
    padding: 10px 30px;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    font-size: 0.6rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: lightgray;

    &:hover {
      cursor: pointer;
    }
	}

  @media(max-width: 790px) {
    justify-content: center;
  }
}
